<div class="background">
  @if (alertRenderStatus){
    <div class="alert">{{alertMessage()}}</div>
  }
  <div class="container">
    <h1>Avanzatech <b>Financial</b></h1>

    <app-typehead [toggleMode]="toggleMode" 
                  [autoCompleteData]="processedAutocompleteData" 
                  (typingEvent)="typeheadAutocompleteListener($event)" 
                  (selectionEvent)="typeheadListener($event)" />

    @if (symbol) {
      <app-chart [toggleMode]="toggleMode" [multi]="dataChart"/>
      <div class = "toggle">
        <app-toggles (onToggle)="onTogglesListener($event)"/>
      </div>
    }
  </div>
</div>

